<header>
    <nav>
        
        <li >

            <a routerLink="/home">Dashboard</a>
        </li>
        
        <li >
            <a routerLink="/listUser">Clientes</a>
            
        </li>

        <li >
            <a routerLink="/addUser">Agregar Cliente</a>
        </li>
        
        <li >
            <a routerLink="/quotation">Contizacion</a>
        </li>
        <li >
            <button (click)="cerrar()">Cerrar</button>
            
        </li>
    </nav>
</header>