<app-navegador></app-navegador>

<main>



    <form class="container  p-5 " (ngSubmit)="registrar()" [formGroup]="registerUser">
        <div class="row" >

        <div class="col">
                <h3>Registrar Usuario</h3>
        </div>
        <div class="col">
            <input type="text"  class="form-control" placeholder="Nombre" formControlName="nombre">
        </div>

        <div class="col">
            <input type="text"  class="form-control" placeholder="Apellidos" formControlName="apellido">
        </div>

        <div class="col">
            <input type="text"  class="form-control" placeholder="email" formControlName="correo">
        </div>

        
        <div class="col">
            <input type="password" class="form-control" placeholder="password" formControlName="password">
        </div>

        
        <div class="col">
            <input type="password" class="form-control" placeholder="repetir password" formControlName="repetirPassword">
        </div>

        <div class="col">
            <button class="btn btn-primary" type="submit">Agregar</button>
        </div>

    </div>

    </form>


    <div>
        <main>

            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <h5 class="titulo"><h1>Lista de Usarios</h1></h5>
        
        
                        <table class="table">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Telefono</th>
                                <th scope="col">Correo</th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr *ngFor="let tarjeta of usersAdmins">
                                    <th scope="row">#</th>
                                    <td>{{tarjeta.nombre}}</td>
                                    <td>{{tarjeta.apellido}}</td>
                                    <td>{{tarjeta.correo}}</td>
                                    
                                    
                                    <div> 
                                        <button class="boton btn btn-dark" > eliminar</button>
                                    </div>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        
        </main>
    </div>

</main>


