<app-navegador></app-navegador>


<main>
    <h1>{{titulo}}</h1>
    <div >
        <div >
            <div >
                <h5 class="titulo">
                    <div *ngIf="loading" class="spinner-border float-end" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </h5>
    
                <form [formGroup]="form" (ngSubmit)="agregarEditar()">
    
                    <div class="grupo">
                        
                        <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre" >
                    </div>
    
                    <div class="grupo">
                        
                        <input type="text"  class="form-control" placeholder="Apellido" formControlName="apellido">
                    </div>
                    
                    <div class="grupo">
                        
                        <input type="text" maxlength="16" class="form-control" placeholder="DPI" formControlName="dpi">
                    </div>
    
                    <div class="grupo">
                        
                        <input type="email"  class="form-control" placeholder="Correo" formControlName="correo">
                    </div>
    
                    <div class="grupo">
                        
                        <input type="text"  class="form-control" placeholder="Direccion" formControlName="direccion">
                    </div>
    
                    <div class="d-grid gap-2"></div>
                    <button class="btn btn-success btn-lg" type="submit">Guardar</button>
                    <h1>Prueba1</h1>
                    <h1>Prueba1</h1>
                    <h1>Prueba1</h1>
                </form>
    
            </div>
        </div>
    </div>
</main>
