/*
main{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

h1{
    margin-top: 3rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grupo{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input{
    padding: 1rem;
    border: none;
    border-bottom: 1px solid black;

}

button{
    padding: 1rem;
    background-color: rgb(128, 143, 230);
    border: none;
}

.rojo {color:red}
.verde {color:rgb(7, 214, 69)}

.ng-valid[required], .ng-valid.required, .ng-valid:not(form)  {
    border-left: 10px solid #42A948; 
  }

.ng-invalid:not(form)  {
    border-left: 10px solid #e20905; 
}

*/

main{
    margin: auto;
}