<main class="m-0 vh-100 row justify-content-center align-items-center">
    <div class="col-auto p-5 text-center">
        <form (ngSubmit)="retriveUser()" [formGroup]="recuperar" class="formulario">
            <div class="title">
                <h1>Recuperar Contrasenia</h1>
            </div>

            <div class="mb-3">
                <label class="form-label">Correo Electronico</label>
                <input type="email" autocomplete="off" class="form-control" placeholder="email" formControlName="email" >
            </div>

            <div class="caja botones">
                <button class="btn btn-primary"type="submit">Enviar</button>
                <button class="btn btn-primary" routerLink="/login">Cancelar</button>
            </div>
        </form>

    </div>
</main>